<!-- views/query-results.handlebars -->
<h1>{{title}}</h1>
<div class="query-display">
  <h3>Executed query</h3>
  <pre>{{query}}</pre>
</div>

{{#if rows.length}}
  <p class="result-count">Displaying {{rows.length}} results</p>
  
  <table class="data-table">
    <thead>
      <tr>
        {{#each headers}}
          <th>{{this}}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#each rows}}
        <tr>
          {{#each ../headers}}
            <td>
              {{#if (lookup ../this this)}}
                {{#if (eq (lookup (lookup ../this this) "type") "uri")}}
                  <a href="/resource?uri={{encodeURIComponent (lookup (lookup ../this this) "value")}}&showLabels={{../../showLabels}}" class="uri-value">
                    {{#if ../../showLabels}}
                      {{#if (lookup ../../labelMap (lookup (lookup ../this this) "value"))}}
                        {{lookup ../../labelMap (lookup (lookup ../this this) "value")}}
                      {{else}}
                        {{lookup (lookup ../this this) "value"}}
                      {{/if}}
                    {{else}}
                      {{lookup (lookup ../this this) "value"}}
                    {{/if}}
                  </a>
                {{else}}
                  <span class="literal-value">{{lookup (lookup ../this this) "value"}}</span>
                {{/if}}
              {{else}}
                <em>-</em>
              {{/if}}
            </td>
          {{/each}}
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <div class="no-data-message">
    <p>No results found for this query.</p>
    <p>This may be due to one of the following</p>
    <ul>
      <li>The query did not match any data in the database</li>
      <li>Syntax error in the SPARQL query</li>
      <li>System resources were filtered out (all results may be system resources)</li>
    </ul>
    
    <div class="query-options">
      <form action="/query" method="post" style="display: inline-block; margin-right: 10px;">
        <input type="hidden" name="query" value="{{query}}">
        <input type="hidden" name="hideSystemResources" value="false">
        <input type="hidden" name="showLabels" value="{{showLabels}}">
        <button type="submit" class="btn">Show system resources as well</button>
      </form>
      
      <a href="/graphdb?query={{encodeURIComponent query}}&showLabels={{showLabels}}" class="btn">
      Show in GraphDB diagnostics
      </a>
    </div>
  </div>
{{/if}}
<div class="display-mode">
<label for="displayToggle">Visa mänskligt läsbara etiketter:</label>
  <label class="switch">
    <input type="checkbox" id="displayToggle" {{#if showLabels}}checked{{/if}}>
    <span class="slider"></span>
  </label>
  <span class="display-mode-text">{{#if showLabels}}På{{else}}Av{{/if}}</span>
</div>
<div class="action-links">
  <form action="/query" method="get" class="query-form" style="display: inline-block; margin-right: 10px;">
    <input type="hidden" name="showLabels" value="{{showLabels}}">
    <button type="submit" class="btn">New query</button>
  </form>
  
  <a href="/?showLabels={{showLabels}}" class="btn">Back to the homepage</a>
</div>